/* Style for navigation menu */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

/* Style for main section */
main {
  margin: 20px;
}

section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* Style for footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Set the position of the top menu to fixed */
.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 999;
}

/* Style the menu links */
.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav li {
  display: inline-block;
}

.top-nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Add padding to the page content to prevent it from overlapping the fixed top menu */
header {
  padding-top: 50px;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-image {
  flex: 1;
  margin-right: 20px;
}

.about-me-text {
  flex: 2;
}

.about-me-image img {
  max-width: 100%;
}

.contact-header {
  text-align: center;
}

.contact-section {
  padding-top: 50px;
  background-color: #f7f7f7;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-list li {
  width: 40%;
  margin: 10px;
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

.contact-list a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .contact-list li {
    width: 20%;
    margin: 15px;
  }

  .contact-list li:last-child {
    margin-right: 0;
    margin-left: 0;
    width: 25%;
  }
}

#projects-section {
  padding-top: 30px;
  background-color: #ffffff;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project {
  width: 30%;
  margin-bottom: 150px;
  text-align: center;
}

.project img {
  width: 110%;
  height: 80%;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  line-height: 1.4;
  color: #333333;
}

.projects-header {
  text-align: center;
}

.lightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* #skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.skill {
  width: 30%;
  text-align: center;
} */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-top: 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill {
  flex: 1 1 300px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.skill h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  align-items: center
}

li {
  padding-bottom: 20px;
  align-items: center
}